/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.metasyncTable th{
    border: 1px solid rgb(193, 193, 193);
    padding: 6px;
    background-color: rgb(233, 233, 233);
    text-align: center;
}
.metasyncTable td{
border: 1px solid rgb(193, 193, 193);
    padding: 6px;
}
.metasyncPara{
    margin-bottom: 8px;
}